<form action="/payment/results">
  <div>
    <label for="APR">APR</label>
    <input id="APR" type="text" placeholder="E.g. 5.42" name="apr">
  </div>

  <div>
    <label for ="year">Number of years</label>
    <input id="year" type="text" placeholder="How many years to repay?" name="year">
  </div>

  <div>
    <label for="principle">Principal</label>
    <input id="principle" type="text" placeholder="How much principle?" name="principle">
  </div>

  <div>
    <button>calculate monthly payment</button>

  </div>

</form>
